* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Shadows Into Light', cursive; */
  border: solid black;
}

header {
  position: relative;
  height: 12vh;
  background-color: black;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", cursive;
}

.menu {
  color: white;
  display: flex;
  /* row */
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100px;
}

.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li {
  margin-right: 1.5rem;
}

.menu ul li:last-of-type {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.footer {
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
  display: flex;
  font-family: "Shadows Into Light", cursive;
}

.map {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  width: 33%;
  text-align: center;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  align-items: center;
}
.redes ul {
  list-style: none;
  display: flex;
}

.redes ul li {
  margin-right: 1.5rem;
}

.redes ul li:last-of-type {
  margin-right: 0;
}

.redes ul li a {
  text-decoration: none;
  color: black;
  text-align: right;
}

.copy {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0 auto;
}
.copy p {
  background-color: #393e46;
  text-align: center;
}

.lp {
  width: 150px;
  height: 150px;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.grilla_singrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem;
}

.grilla_singrid .col {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grilla_singrid .col:last-of-type {
  margin-right: 0;
}

.grilla_singrid .col .img {
  display: inline-block;
  width: 100%;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1642709093860-2f4ac50903e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}

/* Columna 1 */
.grilla_singrid .col-1 .img-1 {
  background-image: url("https://images.unsplash.com/photo-1642685310562-dc09ddcffc29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.grilla_singrid .col-1 .img-2 {
  background-image: url("https://images.unsplash.com/photo-1642700071879-c110a92d37f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.grilla_singrid .col-1 .img-3 {
  background-image: url("https://images.unsplash.com/photo-1642692333042-4b85d331cfb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

/* Columna 1 */

/* Columna 2 */
.grilla_singrid .col-2 .img-1 {
  background-image: url("https://images.unsplash.com/photo-1642718923354-81f09fb51d00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}

.grilla_singrid .col-2 .img-2 {
  background-image: url("https://images.unsplash.com/photo-1642698335267-e90a5740edee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.grilla_singrid .col-2 .img-3 {
  background-image: url("https://images.unsplash.com/photo-1642707949566-0c45f08faae2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

/* Columna 2 */

/* Columna 3 */
.grilla_singrid .col-3 .img-1 {
  background-image: url("https://images.unsplash.com/photo-1642709093860-2f4ac50903e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.grilla_singrid .col-3 .img-2 {
  background-image: url("https://images.unsplash.com/photo-1642685311829-60c25cb9cf01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=696&q=80");
}

.grilla_singrid .col-3 .img-3 {
  background-image: url("https://images.unsplash.com/photo-1642700379250-1bc9e2418cbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

/* Columna 3 */

@media screen and (min-width: 675px) {
  .grilla_singrid {
    flex-direction: row;
  }

  .grilla_singrid .col {
    width: 50%;
    margin-right: 1.5rem;
    height: 1500px;
  }

  /* Columna 1 */
  .grilla_singrid .col-1 .img-1 {
    height: 25%;
  }

  .grilla_singrid .col-1 .img-2 {
    height: 30%;
  }

  .grilla_singrid .col-1 .img-3 {
    height: 45%;
  }

  /* Columna 1 */

  /* Columna 2 */
  .grilla_singrid .col-2 .img-1 {
    height: 35%;
  }

  .grilla_singrid .col-2 .img-2 {
    height: 20%;
  }

  .grilla_singrid .col-2 .img-3 {
    height: 45%;
  }

  /* Columna 2 */

  /* Columna 3 */
  .grilla_singrid .col-3 .img-1 {
    height: 20%;
  }

  .grilla_singrid .col-3 .img-2 {
    height: 60%;
  }

  .grilla_singrid .col-3 .img-3 {
    height: 20%;
  }

  /* Columna 3 */
}
